html {
  background-image: url("../img/background2.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0px auto;
  padding-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
}
/* TREE */
#tree {
  height: 80vh;
  width: 25%;
}

.money-tree {
  border: 1px solid yellow;
  border-radius: 20px;
  height: 70vh;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(0, 0, 139, 0.6);
}

.branch {
  border: 1px solid yellow;

  border-radius: 50px;
  width: 80%;
  height: 30px;
  /* VERTICAL ALIGN */
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

  background: rgba(70, 130, 180, 0.4);
}

#bank {
  border: 5px solid red;
  border-radius: 20px;
  width: 100%;

  background: rgba(250, 0, 0, 0.4);
}

/* ADD BANK HOVER FEATURE */
#bank:hover {
  border: 3px solid black;
  background-color: red;
  cursor: pointer;
  color: white;
}

/* MAIN DISPLAY */
.display {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

#question {
  border: 1px solid yellow;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(70, 130, 180, 0.4);
}

#banking-option {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  padding: 10px;
  border: 1px solid black;
  width: 100px;
  margin-left: 10 px;
  border-radius: 20px;
  background: rgba(0, 0, 139, 0.6);
  color: white;
}
.button:hover {
  background-color: blue;
  color: white;
}
#title {
  width: 100%;
}

#choices {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.choice {
  text-align: left;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background: rgba(0, 0, 139, 0.6);
}
.choice:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
}

#result {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.result-option {
  width: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
}

/* INFORMATION */
#information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
#timer {
  border: 1px solid yellow;

  border-radius: 20px;
  width: 100px;
  height: 100px;
  margin-left: 10px;

  background: rgba(0, 0, 139, 0.6);
}
#round {
  border: 1px solid yellow;

  border-radius: 20px;
  width: 100px;
  height: 100px;

  background: rgba(0, 0, 139, 0.6);
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 20px;
  }
}
