.container{
    width: 90%;
    margin: 0px auto;
    padding-top: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;

}
#tree{
    background-color: red;
    height: 80vh;
    width: 20%;
}

.money-tree{
    background-color: green;
    height: 70vh;
    width: 100%;
}
.bank{
    background-color: blue;
    height: 10vh;
    width: 100%;
}

#display{
    background-color: pink;
    width: 70%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#question{
    background-color: orange;
    width: 100%;
    height: 80vh;
    text-align: center;

    margin-top: 10vh;

}
#choices{
    display: flex;
    flex-direction: column;
}

#timer{
    background-color: burlywood;
    height: 10vh;
    width: 30%;
    
}
.choice{
    width: 50%;
    text-align: left;
}

ul{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
}
