html {
  background-image: url("../img/background2.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0px auto;
  padding-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
}
/* TREE */
#tree {
  height: 90vh;
  width: 25%;
}

.money-tree {
  border: 1px solid black;
  border-radius: 20px;
  height: 70vh;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(0,0,0,0.5);
}

.branch {
  border: 1px solid yellow;

  border-radius: 50px;
  width: 80%;
  height: 30px;
  /* VERTICAL ALIGN */
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

  background: rgba(0, 0, 0, 0.5);
}

#bank {
  border: 2px solid red;
  border-radius: 20px;
  width: 100%;

  background: rgba(250, 0, 0, 0.4);
}

/* MAIN DISPLAY */
.display {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

#question {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

#banking-option {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  padding: 10px;
  border: 1px solid yellow;
  width: 100px;
  margin-left: 10 px;
  border-radius: 20px;
  background: rgba(0, 0, 139, 0.6);
  color: white;
}
.button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
#title {
  width: 100%;
}

#choices {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.choice {
  text-align: left;
  border: 1px solid yellow;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}
.choice:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
}

#result {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.result-option {
  width: 20%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
}

/* INFORMATION */
#information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.information {
  border: 1px solid yellow;

  border-radius: 20px;
  width: 40%;
  height: 100px;
  background: rgba(0, 0, 139, 0.6);
}

#game-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

#back-menu {
  margin-left: 10px;
  font-size: 1em;
}
#back-menu:hover {
  font-size: 1.1em;
}

#save-game {
  margin-left: 0;
  font-size: 1em;
}
#save-game:hover {
  font-size: 1.1em;
}

#game-information {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#result-ranking {
  margin-top: 1.0em;
  width: 40%;
  border: 1px solid yellow;
  border-radius: 15px;
  padding-bottom: 15px;
  background: rgba(0,0,0,0.5);
  color: yellow;
  font-size: 1.0em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#result-ranking:hover{
  background-color: black;
  color: yellow;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.9em;
  }
  .container {
    margin-top: 3vh;
  }
  .button {
    font-size: 0.9em;
    width: 80%;
  }
  .branch {
    font-size: 0.8em;
  }
  #game-information {
    width: 50%;
  }
  #game-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
  }
  #back-menu {
    margin-left: 0px;
  }
  .information {
    width: 50%;
    height: 90px;
  }
  .result-option {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #result-ranking {
    border: 5 px solid white;
    background-color: black;
  }
}
